<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="/assets/images/seal_of_chicagosvg.png" />
    <p id="profile-name" class="profile-name-card"></p>


    <form class="form-signin" (ngSubmit)="login()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" [(ngModel)]="loginForm.username" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
      <input type="password" [(ngModel)]="loginForm.password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng  >Sign in</button>
    </form>

    <a routerLink="/forgot-password" class="forgot-password">
      Forgot the password?
    </a>
    <a routerLink="/registration" class="create-account">
      Create Account
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->
