.card{
  align-self: center;
}

h5{
  color: #6891A2;
  padding-right: 10px;
}

form{
  padding-top: 10px;
}
.second-form{
  padding-right: 20px;
}

.btn-primary{
  margin-left: 150px;
  margin-top: 5px;
}

.btn-info{
  margin-top: 5px;
}

.card{
  width: 40%;
  background-color: whitesmoke;
  margin-top: 10px;
}

table{
  margin-top: 20px;
  width: 20%;
  align-self: center;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.btn{
  background-color: #6891A2;
  border-color: #6891A2;
}

fa-icon{
  color: #dfe3e8;
}
