<div class="container">
  <div class="card card-container">
    <p id="profile-name" class="profile-name-card"></p>

    <h3>Create an account</h3>

    <form class="form-register" (ngSubmit)="register()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" [(ngModel)]="registrationForm.username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <input type="text" [(ngModel)]="registrationForm.firstName" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
      <input type="text"  [(ngModel)]="registrationForm.lastName" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
      <input type="email" [(ngModel)]="registrationForm.email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

      <input type="password" [(ngModel)]="registrationForm.password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
    </form><!-- /form -->
    <div class="existingAccount">
        Already have an account?   <a routerLink="/login"> Sign in </a>
    </div>

  </div><!-- /card-container -->

</div><!-- /container -->
