<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" routerLink="/home">
    <img src="/assets/images/seal_of_chicagosvg.png" width="30" height="30" class="d-inline-block align-top" alt="not found" >
<!--    <img src="/assets/images/service_title.png" width="680" height="63" class="d-inline-block align-top" alt="not found" >-->
    Chicago 311 Request Service
  </a>

  <div *ngIf="isLoggedIn | async; else elseBlock">


    <ul class="navbar-nav navbar-nav ml-md-auto">
      <li class="nav-item">
        <button routerLink="/profile" class="btn btn-info mr-sm-4" type="submit">Profile</button>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-warning " type="submit">Log Out</button>
      </li>
    </ul>



  </div>



  <ng-template #elseBlock>
  </ng-template>
</nav>



