.navbar {
  border-bottom: 2px solid #dfe3e8;
}

.navbar-brand{

  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  color: whitesmoke;
}

.navbar-custom {
  background-color: #6891A2;
}

a:hover{
  color: whitesmoke !important;
}
